<p>
  filtered-transferlist works!
</p>
<mat-card>
  <button mat-button>All</button>
  <button mat-raised-button>Of</button>
  <button mat-raised-button color="primary">The</button>
  <button mat-raised-button color="accent">Buttons</button>
</mat-card>

<mat-card>
  <button mat-fab color="primary">
    <mat-icon>send</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
      <mat-icon>send</mat-icon>
  </button>
</mat-card>
<div class='container' 
      fxLayout
      fxLayout.xs='column'
      fxLayoutGap='10px'
      fxLayoutGap.xs='0'>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" dividerColor="accent">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" dividerColor="accent">
      </mat-form-field>
</div>
