<mat-card>
  <mat-form-field style="margin-top:20px; width:275px;" color="primary">
    <mat-label>Job Class</mat-label>
    <select matNativeControl placeholder="Select Job Class" [formControl]="jobClassFormControl" name="jobclass">
        <option value="" label= "-- Select One --" selected></option>
        <option *ngFor="let jobclass of ToDos" [value]="jobclass.id">
        {{jobclass.name}}
        </option>
    </select>
    <mat-error *ngIf="jobClassFormControl.hasError('required')">
        Please select a job class
    </mat-error>
</mat-form-field>

<mat-card-header class="matcard-header-rounded-top-left">
  <mat-card-title>My Transfer List - {{jobClassFormControl.value}}</mat-card-title>
</mat-card-header>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="facility_Short_Description">
      <th mat-header-cell *matHeaderCellDef>Facility </th>
      <td mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.facility_Short_Description}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="functionalUnitDescription">
      <th mat-header-cell *matHeaderCellDef> Functional Unit </th>
      <td mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.functionalUnitDescription}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="shiftDescription">
      <th mat-header-cell *matHeaderCellDef> Shift </th>
      <td mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.shiftDescription}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="fT_PT_Description">
      <th mat-header-cell *matHeaderCellDef> FT/PT </th>
      <td mat-cell *matCellDef="let myTransferListItem"> {{myTransferListItem.fT_PT_Description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>

<mat-card-actions>
 <button mat-raised-button color="primary">New Transfer List</button>
</mat-card-actions> 
</mat-card>



