<mat-card>
    <mat-form-field style="margin-top:20px; width:275px;" color="primary">
        <mat-label>Job Class</mat-label>
        <select matNativeControl placeholder="Select Job Class" [formControl]="jobClassFormControl" name="jobclass">
            <option value="" label= "-- Select One --" selected></option>
            <option *ngFor="let jobclass of jobClasses" [value]="jobclass.value">
            {{jobclass.viewValue}}
            </option>
        </select>
        <mat-error *ngIf="jobClassFormControl.hasError('required')">
            Please select a job class
        </mat-error>
    </mat-form-field>
    
    <mat-card-header class="matcard-header-rounded-top-left">
       <mat-card-title>My Transfer List - {{jobClassFormControl.value}}</mat-card-title>
    </mat-card-header>
    <kendo-grid
        [data]="gridData"
        [pageSize]="state.take"
        [skip]="state.skip"
        [sort]="state.sort"
        [filter]="state.filter"
        [sortable]="true"
        [pageable]="true"
        [filterable]="true"
        (dataStateChange)="dataStateChange($event)"
    >
    <kendo-grid-column field="ProductID" title="ID" width="40" [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Product Name" >
    </kendo-grid-column>
    <kendo-grid-column field="FirstOrderedOn" title="First Ordered On" width="240" filter="date" format="{0:d}">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Unit Price" width="180" filter="numeric" format="{0:c}">
    </kendo-grid-column>
    <kendo-grid-column field="Discontinued" width="120" filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
        </ng-template>
    </kendo-grid-column>
    </kendo-grid>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
    <p> This is a test of scrolling content. This is a test of scrolling content.</p>
   <mat-card-actions>
      <button mat-raised-button color="primary">New Transfer List</button>
   </mat-card-actions> 
</mat-card>
<div class="sticky-footer" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="sticky-footer-left" flex>
            <P style="margin-left: 30px;">My Transfer List</P>
    </div>
    <div class="sticky-footer-center" flex>
      <button mat-raised-button color="primary">Delete All</button>
      <button mat-raised-button color="primary" style="margin-left: 10px; margin-right: 10px;" >Add to Transfer List</button>
      <button mat-raised-button color="primary" >Print</button>
    </div>
    <div class="sticky-footer-right" flex >
       &nbsp; 
    </div>
</div>
