<!--The content below is only a placeholder and can be replaced.-->
<nav mat-tab-nav-bar>
    <a mat-tab-link 
          [routerLink]="['/mytransferlist']"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.IsActive"
          >My Transfer List
    </a>
    <a mat-tab-link   
          [routerLink]="['/filteredtransferlist']"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.IsActive"
          >Transfer List 
    </a>
</nav>
<router-outlet></router-outlet>
