<mat-card>
     <mat-card-header class="matcard-header-rounded-left">
        <mat-card-title>Employee Profile</mat-card-title>
    </mat-card-header>
    <div class='input-row' 
      fxLayout
      fxLayout.xs='column'
      fxLayoutGap='10px'
      fxLayoutGap.xs='0'>
      <mat-form-field appearance="outline" fxFlex color="primary">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" >
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex color="accent">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name">
        </mat-form-field>
    </div>
    <div class='input-row'>
        <mat-form-field appearance="outline" fxFlex color="primary">
            <mat-label>Street Address 1</mat-label>
            <input matInput placeholder="Street Address 1" >
          </mat-form-field>
    </div>
</mat-card>