/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-form-field.mat-form-field {
    font-size: 14px;
}
  
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding:8px;
}

.mat-form-field-wrapper {
    padding-bottom:.50em;
}

main-mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
     
.matcard-header-rounded-top-left {
    height: 25px;
    border-top-left-radius: 8px;
    color: white;
    background-color: white;
    margin-top: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(46, 77, 123));
   }

  .matcard-header-rounded-left {
    height: 25px;
    border-radius: 8px;
    color: white;
    background-color: white;
    margin-top: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(46, 77, 123));
   }

  .mat-card-header .mat-card-title {
    font-size: 12px;
    margin-top: 5px;
  }

