/* You can add global styles to this file, and also import other style files */
/* html {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
    min-height: 100%;
    height: 100%;
}

.main-content {

    height: 100%;
    min-height: 100%;
    background-color: white;
    width: 80%;
    margin-top:50px;
} */

/* body{
    height: 100%;
    min-height: 100%;
} */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$primary: #2E4d7B;
$accent: #a9a9a9;
$lightergray: #cccccc;
$secondary: #FFF7E7;

.mat-raised-button.mat-primary {
    background-color:$primary ;
}

// Color of Active Tab Underline
// =============================
.mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $primary;
}

// Text Box Sizing and styling
// ===========================
mat-form-field.mat-form-field {
    font-size: 14px;
    
}
 .mat-form-field-appearance-outline .mat-form-field-infix {
    padding:8px;
 }
.mat-form-field-wrapper {
    padding-bottom:.50em;
}

/* main-mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  } */
  
 // Section Header With Top Left Corner ONLY rounded
 // ================================================= 
.matcard-header-rounded-top-left {
    height: 25px;
    border-top-left-radius: 8px;
    color: white;
    background-color: white;
    margin-top: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(46, 77, 123));
   }

   // Section Header with Entire LEFT side roundered
   // ==============================================
  .matcard-header-rounded-left {
    height: 25px;
    border-radius: 8px;
    color: white;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to left, rgba(255,0,0,0), rgb(46, 77, 123));
   }

   // Sizing for Secton Header, which is mat card title
   // =================================================
  .mat-card-header .mat-card-title {
    font-size: 12px;
    margin-top: 5px;
  }

  // mat-table styling
  // =================
  .mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }
  .mat-header-cell {
     font-weight: 900; 
    font-size: 14px; 
  }
  .mat-cell {
      font-size: 12px;
  }
  
  .mat-header-row {
    min-height: 40px;
    background-color: whitesmoke;
  }

  //@import '~@progress/kendo-theme-material/scss/all';
  @import '~@progress/kendo-theme-default/scss/all';

 
