/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-form-field.mat-form-field {
    font-size: 14px;
}
  
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding:8px;
}

.mat-form-field-wrapper {
    padding-bottom:.50em;
}

main-mat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  .bottom-to-top { 
    border: 0px; 
    border-right: 1px; 
    border-style: solid; 
    border-image: 
    linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100% 
} 
.background-gradient {
    background: repeating-linear-gradient(#2E4d7B, lightbluesteel)
}
    
 
